version: '3'

services:
  db:
    image: mongo:5
    restart: always
    ports:
      - 27017:27017
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - ./mongo:/data/db

  db-init:
    image: mongo:5
    depends_on:
      - db
    restart: "no"
    entrypoint:
      [
        "bash",
        "-c",
        "sleep 2 && mongo --host db:27017 --eval \"rs.initiate({_id: 'rs0', members: [{ _id: 0, host: 'db:27017' }]})\"",
      ]
